@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    margin:0;
    paddiing:0;
    font-family: 'Varela Round', sans-serif;
    background-color:#e6e6ff ! important;
}